<h1>{{name}}</h1>

<div class="exp"><div class="progress" style="width: 75%"></div></div>
<p class="exp-text">123/1,234 XP</p>

<div class="allelean"><img src="/img/{{web_photo}}" alt="{{name}}"></div>
