<div class="goals grid grid-1-2">
    <div class="goal">
        <span class="graph">
            <svg width="200" height="200" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0" stroke="#ddd" stroke-width="1em" transform="rotate(-90 100 100)">
            </circle>
            <circle class="bar0" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="282" stroke="#7cadd4" stroke-width="1em" transform="rotate(-90 100 100)" style="transition: stroke-dashoffset 1s linear;">
            </circle>
            </svg>
        </span>
        <div class="data">
            <p>50%</p> of {{daily_steps}} steps
        </div>
    </div>
    <div class="goal">
        <span class="graph">
            <svg width="200" height="200" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0" stroke="#ddd" stroke-width="1em" transform="rotate(-90 100 100)">
            </circle>
            <circle class="bar1" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="282" stroke="#7cadd4" stroke-width="1em" transform="rotate(-90 100 100)" style="transition: stroke-dashoffset 1s linear;">
            </circle>
            </svg>
        </span>
        <div class="data">
            <p>20%</p> of {{daily_calorie_burn}} calories
        </div>
    </div>
    <div class="goal">
        <span class="graph">
            <svg width="200" height="200" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0" stroke="#ddd" stroke-width="1em" transform="rotate(-90 100 100)">
            </circle>
            <circle class="bar2" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="282" stroke="#7cadd4" stroke-width="1em" transform="rotate(-90 100 100)" style="transition: stroke-dashoffset 1s linear;">
            </circle>
            </svg>
        </span>
        <div class="data">
            <p>80%</p> of {{daily_water_in_cups}} cups
        </div>
    </div>
    <div class="goal">
        <span class="graph">
            <svg width="200" height="200" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0" stroke="#ddd" stroke-width="1em" transform="rotate(-90 100 100)">
            </circle>
            <circle class="bar3" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="282" stroke="#7cadd4" stroke-width="1em" transform="rotate(-90 100 100)" style="transition: stroke-dashoffset 1s linear;">
            </circle>
            </svg>
        </span>
        <div class="data">
            <p>100%</p> of {{daily_sleep_in_mins}} hours
        </div>
    </div>
</div>