<section>

    <h1>Alleleans</h1>
    
    <div class="grid grid-1-3">
        {{#alleleans}}
        <a href="/alleleans/{{slug}}">
            <p class="image"><img src="/img/{{web_photo}}" alt="{{name}}"></p>
            <h2>{{name}}</h2>
        </a>
        {{/alleleans}}
    </div>
    
</section>